<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: 'tu mail, no creo que on envie nada, pero identificaros !',
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: 'tu contrasena',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: 'tu contrasena otra vez, que no te hayas equivocado',
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :username,
                required: true,
                label: 'Nombre de usuario, asi te veran el resto! :D'
                %>
    <%= f.input :group,
                as: :select,
                collection: Group.all,
                required: true,
                label: 'De que grupo formas parte?'
                %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Inscribirme" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
